.main--content--perfil{
    width: 100%;
    min-height: 88vh;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    /* border: 2px solid blue; */
}

.main--content--perfil--fotos--titulos{
    width: 100%;
    height: auto;
    /* border: 2px solid green; */
    padding: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main--content--perfil--fotos--titulos > h1{
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
}

.main--content--perfil--fotos--titulos > img{
    border-radius: 50%;
    width: 125px;
    height: 125px;
}


/* main--content--perfil--playlist-reviews-likes */

.main--content--perfil--playlist-reviews-likes{
    width: 100%;
    height: auto;
    /* border: 2px solid green; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 50;
    /* justify-content: center;
    align-items: center; */
}

.main--content--perfil--playlist-reviews-likes-tabsTitle{
    width: 100%;
    padding: 10px;
    height: 10%;
    display: flex;
    gap: 40px;
    /* border: 1px solid blue; */
    align-items: center;
    justify-content: center;
}

.tabsTitle--tablinks{
    all: unset;
    cursor: pointer;
    display: inline-block;
}

.tabsTitle--tablinks > img{
    /* height: 80%; */
    width: 40px;
}

/* .main--content--perfil--playlist-reviews-likes{
    width: 100%;
    border: 1px solid blueviolet;
    height: 90%;
    padding: 5px;
    display: flex;
} */


.main--content--perfil--playlist-reviews-likes--tabsContent{
    width: 100%;
    /* border: 1px solid blueviolet; */
    flex-grow: 100;
    padding: 5px;
    display: flex;
}

/* .main--content--perfil--playlist-reviews-likes-tabsTitle button {
    transform: scale(1);
}
.main--content--perfil--playlist-reviews-likes-tabsTitle button.active {
    transform: scale(1.1);
} */

  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    flex-grow: 100;
    border-top: none;
    color: #f5f5f5;
    /* height: 100%; */
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.tabcontent--playlist{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #000000;
    /* border: 1px solid blueviolet; */
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9);
    transition: .5s;
}

.tabcontent--playlist:hover{
    transform: scale(1.1);
}

.tabcontent--playlist > span{
    font-weight: bold;
    color: #f5f5f5;
    font-size: 16px;
}


.tabcontent--review{
    width: 100%;
    height: 80px;
    background-color: #000000;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    display: flex;
    text-decoration: none;
    transition: .5s;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9);
}

.tabcontent--review:hover{
    transform: scale(1.020);
}

.tabcontent--review--img{
    width: 15%;
    height: 100%;
    /* border: 1px solid red; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tabcontent--review--img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tabcontent--review--content{
    width: 85%;
    height: 100%;
    /* border: 1px solid blue; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}

.tabcontent--review--content--message{
    width: 50%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tabcontent--review--content--message > span{
    font-size: 14px;
    font-weight: bold;
    color: #f5f5f5;
    white-space: normal;
    word-wrap: break-word;
}

.tabcontent--review--content--informations{
    width: 50%;
    height: 100%;
    /* padding: 5px; */
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tabcontent--review--content--informations--platform--rating{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tabcontent--review--content--informations--status{
    color: #f5f5f5;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.platform{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.platform > img{
    width: 25px;
    height: 25px;
}

.raiting{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    gap: 2px;
}

.raiting > span{
    font-size: 14px;
    font-weight: bold;
    color: #f5f5f5;
    white-space: normal;
    word-wrap: break-word;
}

.quadrado{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.ruim{
    background-color: #CC697B;
}

.mid{
    background-color: #96D9E0;
}

.bom{
    background-color: #6ECC8E;
}

.button_target{
    width: 55px !important;
    height: 55px !important;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9) !important;
}
