@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';

/*********************************************************************** Estilos Personalizados *******************************************************************************/

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

body{
    background-color: #000000 !important;
;
}

/* Navbar custom, aumentar altura */

.navbar-custom{
    height: 80px;
}

/* Classe usada para espaçamento das ancor na nav */
.ancor-link{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* estilização das ancor */
.ancor-link > a{
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}

/* Gap entre o form e as ancor */
.form-ancor{
    gap: 25px;
}

/* Classe para criação da imagem + */

.normal{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.masked-image {
    width: 70%;
    height: 82%;
    object-fit: cover;
    mask-image: url('/public/svg/Cruz.png'); /* Caminho para a máscara */
    mask-size: cover;
    -webkit-mask-image: url('/public/svg/Cruz.png'); /* Para suporte em navegadores baseados no WebKit */
    -webkit-mask-size: cover;
}



/* normal three  (três imagens) */

.normal_three{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-round-image2{
    border: 2px solid white;
    align-self: center;
}

/* Classe para aplicar gap nas duas div que contém as imagens */

.class-custom{

}

/* Caixa de login arquivo components/authentication-card.blade */

.login-box-custom{
    width: 90%;
    height: 100%;
    background-color: #DA85DD !important;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px !important;
    margin: 0px !important;
    font-family: 'Poppins';
    text-transform: lowercase;
}

/* Div principal para comportar a login form e a logo no topo */

.login_logo{
    height: auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important  ;
    padding: 0px !important;
}

/* Alteração do Background do login box */

.card-login-custom{
    background-color: #DA85DD;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: 90%;
    height: auto;
    text-transform: lowercase;
    font-family: 'Poppins'
}

.logo_login_cad{
    transform: rotate(317deg);
}

/* Div principal para comportar a cadastro form e a logo no topo */

.logo_form{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important  ;
    padding: 0px !important;
}

.logo_x{
    width: 40px;
    align-self: flex-start;
}

/* Botão de criar conta no login box */

.custom-button-login-criar{
    background-color: #734774;
    color: white !important;
    font-weight: bold;
    width: 100%;
    border-radius: 15px;
    transition: .4s;
    text-transform: lowercase;
    font-family: 'Poppins'
}

.custom-button-login-criar:hover{
    background-color: #DA85DD;
}

/* Background padrão */

.bg-custom{
    background-color: #000000;
}

/* Alteração do btn cadastrar do Form da register.blade */

.btn-register-custom{
    background-color: white;
    font-weight: bold;
    color: #DA85DD !important;
    transition: .4s;
    text-transform: lowercase;
    font-family: 'Poppins'
}

.btn-register-custom:hover{
    color: white !important;
}
/*********************************************************************** Estilos Personalizados *******************************************************************************/
/******************************************************************************* JOGOS *******************************************************************************/

/* Classe para definição da div do carousel lançamento */
.lancamentos{
    padding-top: 40px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.carousel_lanc{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 2px solid blue; */
}

.lancamentos > h1{
    font-size: 20px;
    color: #f5f5f5;
}

h1 > small > a{
    text-decoration: none;
    font-size: 16px;
    color: #5e5d5d;
    text-transform: lowercase;
    font-family: 'Poppins'
}

.btn_hr{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
    /* border: 1px solid blueviolet; */
}

.btn_hr > hr{
    height: 2px;
    width: 94%;
    color: white;
    border: 2px solid white;
}

.btn_hr > .btn_caro{
    /* border: 1px solid red; */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

/* Classe para estilização dos botões */

.btn_caro > button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #f5f5f5;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Classe para adaptação da seta do carousel */

.arrows{
    width: 30px;
    height: 25px;
    align-self: center;
}

.cards_acessados{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.cards_acessados::-webkit-scrollbar {
    display: none;  /* Oculta a scrollbar no WebKit (Chrome, Safari, etc.) */
}

.cards_breve{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.cards_breve::-webkit-scrollbar {
    display: none;  /* Oculta a scrollbar no WebKit (Chrome, Safari, etc.) */
}

.cards_avaliados{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.cards_avaliados::-webkit-scrollbar {
    display: none;  /* Oculta a scrollbar no WebKit (Chrome, Safari, etc.) */
}

.cards_lancamentos{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.cards_lancamentos::-webkit-scrollbar {
    display: none;  /* Oculta a scrollbar no WebKit (Chrome, Safari, etc.) */
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    height: 280px;
    width: 205px;
    background-color: #BCBCBC;
    flex-shrink: 0;
    border-radius: 15px;
    min-width: 205px; /* Define a largura mínima de cada item */
    flex-shrink: 0;
}

.card > a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    flex-shrink: 0;
    border-radius: 15px;
    min-width: 205px; /* Define a largura mínima de cada item */
    flex-shrink: 0;
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.img_lancamento{
    margin-top: 10px;
    width: 90%;
    height: 80%;
    border-radius: 15px;
}

.nome_nota{
    display: flex;
    width: 95%;
    flex-grow: 1;
    gap: 20px;
}

.nm_lancamento{
    margin: 0px;
    width: 70%;
    font-weight: bold;
    font-size: 14px;
    text-transform: lowercase;
    font-family: 'Poppins'
}

.nt_lancamento{
    margin: 0;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 45px;
    font-weight: bold;
    
    font-family: 'Poppins'
}
