@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';

/*********************************************************************** Estilos Personalizados *******************************************************************************/

body{
    background-color: #000000 !important;
;
}

/* Classe usada para espaçamento das ancor na nav */
.ancor-link{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* estilização das ancor */
.ancor-link > a{
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}

/* Gap entre o form e as ancor */
.form-ancor{
    gap: 25px;
}

/* Classe para criação da imagem + */

.normal{
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.normal > img{
    width: 60%;
    height: 40%;
    border-radius: 15px;
    border: 2px solid black;
}


/* normal three  (três imagens) */

.normal_three{
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-round-image2{
    border: 2px solid white;
    align-self: center;
}

/* Classe para aplicar gap nas duas div que contém as imagens */

.class-custom{
    gap: 80px;
}

/* Caixa de login arquivo components/authentication-card.blade */

.login-box-custom{
    width: 400px;
    height: 400px;
    background-color: #DA85DD !important;
    color: white;
    font-weight: bold;
}

/* Alteração do Background do login box */

.card-login-custom{
    background-color: #DA85DD;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

/* Botão de criar conta no login box */

.custom-button-login-criar{
    background-color: #734774; 
    color: white !important; 
    font-weight: bold;
    width: 100%;
    border-radius: 15px;
    transition: .4s;
}

.custom-button-login-criar:hover{
    background-color: #DA85DD;
}

/* Background padrão */

.bg-custom{
    background-color: #000000;
}

/* Alteração do btn cadastrar do Form da register.blade */

.btn-register-custom{
    background-color: white;
    font-weight: bold;
    color: #DA85DD !important;
    transition: .4s;
}

.btn-register-custom:hover{
    color: white !important;
}